<!DOCTYPE html>
<html>

<div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-12">
            <div> "Coach silly answer?
        </div>
    </div>
</div>

<p><%=@answer %><p>
<p><%=@respuesta_coach%><p>

<%= link_to "Ask a new question", ask_path %>
